body{
	margin: 0 120px 0 30px
}
/* prvi red */
#stari-logo{
	clear: both;
}
#naslov, #novi-logo,#stari-logo{
	float:left;
}
#naslov{
	width:70%;
	text-align:center
}

/* drugi red */
#navigacija{
	clear: both
}
#navigacija,
#glavni-ulaz,
#paragraf-o-skoli,
#forma-registracija{
	float:left;
	width:25%;
	height: 300px;
}
.zut{
	float:left;
	width: 20%;
	height: 100px;
	background-color: yellow;
	margin: 50px 20px 10px 0;
}

#stepenice{
	height:300px;
	width: 100%
}